<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Hello World</h1>
    <form method="POST" action="http://localhost:3001/user/register">
        <input type="text" placeholder="Name" name="name" value="<%= body.name %>">
        <input type="email" placeholder="Email" name="email" value="<%= body.email %>">
        <input type="password" placeholder="Password" name="password" value="<%= body.password %>">
        <button type="submit">Register</button>
    </form>
</body>
</html>